.numberFormat{
	float : right;
}
.grid{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 800px;
}
.repName{
	font-size : 20px;
}
.selName{
	font-size  :16px;
}
.comm{
	background-color : White;
}
.rdAgDataTable{
	width : 1184px;
}
#dtAnalysisGrid{
	width : 1184px;
}
.rightalign{
	text-align : right;
}
#summary,
.m td + td,
.m th + th
{
    text-align:right;
}
.m td,
.m th
{
    text-align:left;
}