
.HeaderFamily
	{
	    font-family: sans-serif;
	}
	th {
    
    font-family: sans-serif;
}
 .DateAlign {
    right: 50px;
    position: relative;
}
#SELECTMEASURE
   {
  font-weight: normal!important;
   right: 34px;
    position: relative;
   bottom:10px;
   }
   .Excl1 {
    margin-top: -2px;
    position: absolute;
    right: 67px;
   font-weight: normal;
   
    width: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 96, 144);
    border-radius: 4px;
    padding: 4px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}
/*  For CSV BUTTON in class .Csv and please override the following changes*/

.Csv1 {
    margin-top: -2px;
    font-weight: normal;
    right: 1px;
    border-radius: 4px;
    padding: 4px 12px;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    border: 1px solid transparent;

}

td,th {
    
    font-family: sans-serif;
}
.print{
	left: -24px;}
#drillstores12 {
    /* border-radius: 7px; */
    /* height: 30px; */
    /* bottom: 6px; */
    /* position: relative; */
    /* color: #fff; */
    /* background-color: #286090; */
    /* border-color: #204d74; */
    font-weight: normal;
    border: 1px solid transparent;
	bottom : 10px;
	position: relative;
}
.subtitle{
	font-size : 14px;
	bottom: 30px;
    position: relative;
}
ul,ol{
	list-style-type:none;
	}


