.box {
	display: block;
    background: #fff;
    height: 125px;
	line-height: 125px;
	text-align: center;
	margin-bottom: 20px;
}
.shadow-xs {
    box-shadow: 0 1px 2px rgba(0,0,0,.26)!important;
}
.shadow-sm {
    box-shadow: 0 2px 5px rgba(0,0,0,.4)!important;
}
.shadow {
    box-shadow: 0 5px 15px rgba(0,0,0,.4)!important;
}
.shadow-lg {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)!important;
}
.shadow-xl {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
}

.shadow-xs-hover:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.26)!important;
}
.shadow-sm-hover:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,.4)!important;
}
.shadow-hover:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.4)!important;
}
.shadow-lg-hover:hover {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)!important;
}
.shadow-xl-hover:hover {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
}

.shadow-top {
    box-shadow: 0px -4px 3px rgba(0,0,0,.22);
}
.shadow-bottom {
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
}
.shadow-left {
	box-shadow: -6px 0px 4px -2px rgba(0,0,0,.3);
}
.shadow-right {
	box-shadow: 6px 0 4px -2px rgba(0,0,0,.3);
}
.shadow-spread {
    box-shadow: 0 5px 15px 5px rgba(0,0,0,.4)!important;
}

.shadow-inset {
	box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.shadow-inset-top {
	box-shadow: inset 0 4px 2px -2px rgba(0,0,0,.3);
}
.shadow-inset-bottom {
    box-shadow: inset 0px -4px 3px rgba(0,0,0,.22);
}
.shadow-inset-left {
	box-shadow: inset 6px 0 4px -2px rgba(0,0,0,.3);
}
.shadow-inset-right {
	box-shadow: inset -6px 0px 4px -2px rgba(0,0,0,.3);
}