#rdTabs-rdDashboardTabs > #rdTabs, #rdAddTabCog {
	display: none;
}
.yui-navset div.yui-content > div {
    border: 0px solid transparent !important;
    padding: 0 !important;
	background-color: transparent !important;
}
tr.panelTitle > td.rdDashboardTitle > table.rdDashboardTitle > tbody > tr > td:last-child {
	display: none;
}