/*Start responsive dashboards*/
@media (max-width: 1250px){
	#rdDashboardPanelTable,
	#rdDashboardPanelTable > tbody{
		display: block;
		border-collapse: collapse !important;
		border: none !important;
		position: relative;
		width: 100% !important;
		min-width: 100% !important;	
	}
	#rdDashboardPanelTable > tbody > tr, 
	#rdDashboardPanelTable > tbody > tr > td {
		display: block;
		border-collapse: collapse !important;
		border: none !important;
		position: relative;
		width: 100% !important;
		min-width: 100% !important;	
		max-width: 100% !important;
		padding: 0px 0px 0px 0px;
	}
	.rdDashboardDropZone {
		background-color: Transparent;
	}
	#rdDivDashboardpanels, #rdDivDashboardpanels > .rdDashboardPanel {
		min-width: 100%;
		width: 100% !important;
		height: auto !important;
		display: block !important;
		position: relative !important;
		top: auto !important;
		left: auto !important;
		opacity: 1 !important;
		margin-top: 20px;
	}
	#rdDivDashboardpanels iframe {
		width: 1px;
		min-width: 100%;
		*width: 100%;
	}
	#rdDivDashboardpanels, #rdDivDashboardpanels > .rdDashboardPanel {
		min-width: 100%;
		width: 100% !important;
		height: auto !important;
		display: block !important;
		position: relative !important;
		top: auto !important;
		left: auto !important;
		opacity: 1 !important;
		margin-top: 20px;
	}
}

/*End responsive dashboards*/