/*Dashboard Styles*/
#rdDashboardMenu>td>#rdSettingsCog {
	display:none;
}
#mainContent #VisualizationsDashboard { 
	display: block;
}
#Sidebar.Open ~ #mainContent #VisualizationsDashboard {
    width: calc(100% + 18em);
    max-width: calc(100% + 18em);
	float: left;
	margin-left: -18em;
	background-position: 0 center;
}
/*#Sidebar.Open ~ #mainContent div.rdDashboardPanel {
    width: auto !important;
	left: auto !important;
	position: relative !important;
	display: inline-flex;
}
*/
#VisualizationsDashboard .popupPanelContainer {
	position: fixed;
}
#divDashboard {
    -webkit-transition: background-position 0.5s ease-out;
    -moz-transition: background-position 0.5s ease-out;
    -o-transition: background-position 0.5s ease-out;
    -ms-transition: background-position 0.5s ease-out;
    transition: background-position 0.5s ease-out;
	/*overflow: hidden;*/
}
.ThemeContainerBordered {
    border-color: #dddddd;
    border-width: 1px;
}
.rdDashboardTitle {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.rdDashboardTitle,
.rdDashboardTitle th,
.rdDashboardTitle th td {
    text-align: left;
    background-color: #F7F7F7 !important;
}
.rdDashboardContent > td > .panelBody {
    overflow: visible !important;
    border-top: 1px solid #dddddd;
    margin: 0;
    padding: 0px 5px 0 5px;
	min-height: 145px;
}

.rdDashboardContent > td > .panelBody > .p-0 {
    margin-left: -5px;
    margin-right: -5px;
}
.panelBody .table th {
	border-color: transparent;
	border-width: 0px;
}
.panelBody #rdMainBody {
    padding-top: 10px;
}
.panelTitle table {
    margin-top: 5px;
}
.panelInnerTable {
    padding-left: 0;
}
.rdDashboardHidden, table.rdDashboardTitle > tbody > tr > td.rdDashboardControl> a > img {
    display: none;
}

table.rdDashboardTitle > tbody > tr > td.rdDashboardControl > a {
    height: 20px;
    width: 20px;
    font: normal normal normal 18px/1 FontAwesome;
}
table.rdDashboardTitle > tbody > tr > td.rdDashboardControl > a:hover {
	opacity: 1;
}
table.rdDashboardTitle > tbody > tr > td.rdDashboardControl > a:before {
    content: "\f013";
}
.popupPanelContainer td.rdDashboardControl>a:before {
    content: "";
}
.panel-title {
    font-size: 16px;
    font-weight: 500 !important;
}
.rdDashboardTitleCaption {
    padding: 5px 10px 10px;
    font-size: 1rem;
    font-weight: 400 !important;
}
.rdDashboardPanel,
.rdDashboardPanel > table {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ffffff;
}
.panelInnerTable {} .rdDashboardPanel {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
	
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.panel-default, .panel-default > .panel-heading {
    border-color: #dddddd;
}
.dash-panel-kpi {
    background-color: #4d4f53;
    padding: 8px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
    margin: 5px;
    background: #4d4f53 url('../_SupportFiles/bgArch.png') no-repeat center top;
    -webkit-background-size: 100% 40px;
    -moz-background-size: 100% 40px;
    -o-background-size: 100% 40px;
    background-size: 100% 40px;
}
.dash-panel-kpi > div {
    border: 2px solid #dadbdd;
    border-radius: 4px;
    color: #ffffff!important;
    padding-top: 30px;
}
.dash-panel-kpi-input {
    text-decoration: none;
    color: #b7c205 !important;
    border: 1px solid #7b7b7d;
    background-color: #5b5b5b;
    width: 100%;
    padding: 2px 4px;
    font-size: 20px;
    line-height: 1.42857143;
    height: 34px;
    display: block;
    border-radius: 2px;
    -moz-box-shadow: inset 1px 4px 9px -6px #000000;
    -webkit-box-shadow: inset 1px 4px 9px -6px #000000;
    box-shadow: inset 1px 4px 9px -6px #000000;
    text-align: right;
}
.dash-panel-kpi label:not(.dash-panel-kpi-input) {
    margin-top: 8px;
    display: block;
    text-align: right;
    font-weight: 500;
}
.dash-panel-kpi > div > .container-fluid {
    margin-bottom: 12px;
}
.add-panels {
    padding-left: 0!important;
    /*padding-top: 0.5rem!important;*/
    float: left!important;
	/*margin-bottom: -8px;*/
}
.freeformPanelContainer {
	max-width: 100% !important;
	width: 100% !important;
}
.panelTitle .close {
    float: right;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .25;
	margin-top: 8px; 
	margin-right: 10px;
}

.panelTitle .close + .close {
	margin-right: 5px;
}
.panelTitle .close:hover {
    opacity: .7;
}
.add-panels {
    padding-left: 0!important;
    padding-top: 0.5rem!important;
    float: left!important;
	margin-bottom: -8px;
}
/*End Dashboard Styles*/