.ThemeMasterReportTopFrame {
	    background-color: #FFF;
}
.onecolumn{
	float:left;
	width:320px;
	margin-left:20px;
}
.threecolumn{
	float : left;
	width : 425px;
	margin-left : 20px;
}
.twocolumn{
	float:left;
	width : 430px;
	
}
.gendertop{
	float : left;
	width : 98%;
	margin-bottom : 20px;
	margin-right : 35px;
	/*margin-top : 20px;*/
}
.gender
{
	background-color : White;
    border : solid LightGray 1px;
	border-radius : 1px;
	width : 98%;
	padding : 20px;
}
.genderft{
	width : 98%;
	border : solid LightGray 1px;
	border-radius : 1px;
	padding : 10px 15px;
}
.campaigntop{
	float : left;
	margin-right : 20px;
	width : 98%;
	/*margin-top : 20px;*/
	margin-bottom : 20px;
}
.campaign{
	background-color : White;
    border : solid LightGray 1px;
	border-radius : 1px;
	width : 98%;
	padding : 20px;
}
.campaignft{
	border : solid LightGray 1px;
	border-radius : 1px;
	width : 98%;
	padding: 10px 15px;
}
.font2em{
	font-size : 16px;
	font-family: "Open Sans";
}
.list {
	list-style-type : none;
	list-style : none;
	
}
.list ul{
	list-style : none;
	
}
.list li{
	list-style : none;
	margin-left : -39px;
}
.leadstop{
	float : left;
	margin-right : 20px;
	width : 98%;
	
}
.leads{
	background-color : White;
    border : solid LightGray 1px;
	border-radius : 1px;
	width : 98%;
	padding : 20px;
	float : left;
}
.leadft{
	border : solid LightGray 1px;
	border-radius : 1px;
	width : 98%;
	padding : 10px 15px;
	float: left;
}
.oppotop{
	float: left;
	width : 100%;
	clear : both;
	margin-right : 20px;
	margin-bottom : 20px;
}
.mailer{
	background-color : White;
    border : solid LightGray 1px;
	border-radius : 1px;
	width : 98%;
	padding : 20px;
}
.oppoft{
	width : 98%;
	padding : 10px 15px;
	border : solid LightGray 1px;
	border-radius : 1px;
}
.customertop{
	float : left;
	width : 98%;
	margin-right :35px;
	clear: both;
	margin-bottom : 20px;
}
.customer{
	background-color : White;
    border : solid LightGray 1px;
	border-radius : 1px;
	width : 98%;
	padding : 20px;
}
.customerft{
	padding : 10px 15px;
	border : solid LightGray 1px;
	border-radius : 1px;
	width : 98%;
}
.ziptop{
	width : 98%;
	float: left;
	margin-top : 20px;
}
.Top10Zip{
	background-color : White;
	width : 98%;
	border : Solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;

}
.ziptopft{
	width : 98%;
	border : Solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
}
.Activity{
	width : 425px;
	border : Solid 2px LightGray;
	border-radius : 5px;
	float: left;
	padding : 20px;
	margin-left : 20px;
	background-color : White;
}
.right{
	float : right;
}
.rgt{
	text-align: right;
}
#pnl1{
	border-radius : 5px;
}
#rdDashboardPanel-pnl1_541540e16aeb4166be65871b2e88dd6b{
	border-radius  : 5px;
}
.FontRight{
	float : right;
	font-size : 22px;
}
.Font{
font-size : 22px;
font-family : "Open Sans";
}
.columncell{
	width : 132px;
}
.columncell12{
	width :50%;
}
.columncell1{
	width : 190px;
}
.rowWidth{
	width : 200px;
}
.rowWidthx{
	width : 350px;
}
.footer{
	background-color : #EFF2F2;
	width : 100%;
	height: 10px;
}
.green{
	color : #A0F2B7;
	color : #24D49C
}
.blue{
	color : #A0DFF8;
	color : #5ACCF9;
}
.lightGray{
	background-color : LightGrey
}
#rowId{
	margin-left : 46px;
}
.mediumFont{
	font-size : 18px;
}
.agegrouptop{
	float : left;
	width : 98%;
	margin-bottom : 20px;
	/*margin-right : 35px;
	margin-top : 20px;*/
}
.AgeGroup{
	background-color : White;
	width : 98%;
	border : Solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	
}
.agegroupft{
	width : 98%;
	border : Solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
}
.titleFont{
	font-family : "Open Sans";
	font-size : 26px;
	color : White;
}
.blockTitle{
	color : Gray;
}
.leadtop{
	float : left;
	width : 100%;
	clear : both;
	/*margin-right: 20px;*/
	margin-bottom : 20px;
}
.repId{
	width : 98%;
	border: solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
	
}
.leadStageRep{
	background-color : White;
	width : 98%;
	border-radius : 1px;
	margin-right : 20px;
	border : solid 1px LightGray;
	padding : 20px;
}
.gray{
	color : Gray;
}
.salesbycustomer{
	width : 98%;
	float : left;
	margin-top : 20px;
}
.salesreport{
	width : 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	background-color : White;
}
.salesreportft{
	width : 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
}
.salesstore{
	width: 98%;
	float : left;
	margin-top : 20px;
}
.salesstorerep{
	width : 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	background-color : White;
}
.salesstoreDate{
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
	width : 98%;
}
.columncellx{
	width: 250px;
}
.custReturn{
	width : 98%;
	float: left;
	margin-right : 20px;
}
.custReturnft{
	width: 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
}
.returnSparke{
	width : 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	background-color : White;
}
.totalSales{
	float: left;
	width:98%;
	margin-right : 20px;
}
.salesrep{
	width : 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	background-color : White;
}
.totalSalesft{
	width: 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
}
.totalCustomer{
	float: left;
	width:98%;
	margin-right : 20px;
}
.custrep{
	width : 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	background-color : White;
}
.custft{
	width: 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
}
.totalmargin{
	float: left;
	width:98%;
	margin-right : 20px;
}
.salesrepmargin{
	width : 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	background-color : White;
}
.totalmarginft{
	width: 98%;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 10px 15px;
}
.filter{
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	background-color : White;
	width :175px;
	float : left;
}
.oppoTab2{
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	width : 98%;
	background-color : White;
}
.oppoTab{
	width : 100%;
	float: left;
	margin-bottom: 20px;
}
.oppoTabft{
	width : 98%;
	padding : 10px 15px;
	border : solid 1px LightGray;
	border-radius : 1px;
}
.oppoTable{
	width: 98%;
}
.filteryear{
	border : solid 3px LightGray;
	padding : 6px 12px;
}
/*.filterval{
	border : solid 1px LightGray;
	width : 96%;
	margin-bottom : 5px;
}*/
.filtername{
	margin-left : 20px;
}
.text-center{
	text-align : center;
}
select.rdThemeInput{
	padding : 5px 10px;
	border : solid 1px LightGray;
	border-radius : 3px;
}
body{
	background-color : White;
}
.title{
	font-size : 20px;
}
.bgw{
	background-color:White;
}
.quoetexp {
	 margin-top:00px;
     float:right;
}