/*  Header
	Change anything to fit your needs  */
#LeftFrame {
	min-width: 200px;
	width: 200px;
	vertical-align: top;
	padding: 5px;
}

.go-header-spacer {
	padding-top: 1em;
}

.go-headers {
	background-color: rgba(184, 184, 184, 0.27);
}

/*  Footer
	Change the fixed height of the sticky footer to fit more, or tweak other details  */
.goFooter {
	height: 3.5em; /* Set fixed height here */
	margin-top: -3.5em; /* Set negative of fixed height here */
	padding: 1em;
}

/*	There's a spacer element if you'd like to use it
.go-footer-spacer {} */

/*  Use any responsive CSS fixes as necessary  */
/*@media (max-width: 767px) {
	.go-footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}*/

/* 	Apply this class to .go-header and .go-box container to let headers scroll away  */
.go-absolute {
	position: absolute;
}

#GoTitle {
    width: 100%;
	height: 45px;
	padding-left: 5px;
}

#GoBoxTitle {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    min-width: 100%;
}

.go-content {
    width: 100%;
	padding-bottom: 10px;
}
#GoSideHandle {
    padding-left: 3px;
}

/* START Customizations 2016-09-29*/
/* Sidebar buttons on SSM color */
.ThemeMasterReportTopFrame.button{
	background-color: #1D2733;
}
div.button-list>div.button>div.button-label, .labelHome {
    top: 1px;
}
#masterContent #mainContent {
    padding: 1em 3em;
}
.go-headers {
	background-color: rgba(255, 255, 255, 1);
}
.ThemePanel {
    padding-top: 2px;
    border-radius: 0px;
}
div.rd-checkboxlist > table {
	width: 600px;
	margin-left: 15px;
}
#rowsAnalysisGrid>tbody>tr:not(:first-child) {
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.2);
}
#rowsAnalysisGrid .rdAgContentRow, #rowsAnalysisGrid #rowMenu>table>table, .rdAgSelectedTab, .rdAgSelectedTabOn,
th.rdAgDataTable td, table.rdAgDataTable th, table.rdAgDataTable th a, tr.rdAgHeaderRow th, 
table.rdAgDataTable th, table.rdAgDataTable > th a, table.rdAgDataTable th a {
    background-color: #eeeeee;
}
.rdAg .rdThemeDataTableHeader td, .rdAgSelectedTab span {
	background-color: transparent !important;
  	color: #363b42;
}
.rdAgCommand, .rdDashboardCommand,.rdAgSelectedTab, .rdAgUnselectedTab {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	margin: 0 3px;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}
#rowButtons .ThemeLinkButton:hover, #rowSend .ThemeLinkButton:hover,
.ThemeLinkButton:hover, .ThemeLinkButtonSmall:hover, .rdAcCommand:hover, 
.rdAgCommand:hover, .rdDashboardCommand:hover, .rdOgCommand:hover, span.rdCgCommand:hover,
.rdAgUnselectedTab:hover, .rdAgUnselectedTabOn:hover, rdAgCommand:hover,.ThemeMasterReportTopFrame.button:hover,
#rowsAnalysisGrid .ThemeLinkButton:hover, #rowsAnalysisGrid .ThemeLinkButtonSmall:hover, #rowsAnalysisGrid span:hover.rdAgCommand{
	background: -webkit-gradient(linear,left top,left bottom,color-stop(.01,rgba(0,0,0,.1)),color-stop(1,rgba(0,0,0,.4)));
    background-color: #777777;
	text-decoration: none;
}
/* END Customizations 2016-09-29*/


