.repName{
	font-size : 20px;
}
.selName{
	font-size : 16px;
}
.rep{
	background-color : White;
}
.chart{
	width : 1000px;
	border : solid 1px DarkGray;
	border-radius : 5px;
}
.grid{
	width : 1000px;
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-top : 10px;
}
.number{
	float : right;
}