.chart1{
	width : 433px;
	border : solid 1px gray;
	border-radius : 5px;
	float : left;
	margin-left : 10px;
}
.chart2{
	width : 433px;
	border : solid 1px gray;
	border-radius : 5px;
	float : left;
	margin-left : 865px;
	margin-top : -419px;
}
.grid1{
	width : 400px;
	border : solid 1px gray;
	border-radius : 5px;
	float : left;
	margin-left : 10px;
}
.grid{
	width : 400px;
	border : solid 1px gray;
	border-radius : 5px;
	float : left;
	margin-left : -400px;
	margin-top :150px;
}
.form-control
{
    display: inline !important;
    width: auto !important;
    height: auto !important;
    padding: 4px 12px !important;
 }   
.right{
	float : right;
}
.font{
	padding-left : 5px;
}
.title{
	font-size : 20px;
}
#print
	 {
	 
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    bottom: 2px;
    position: relative;
    padding: 4px 12px;
    right: 20px;
    font-weight: normal;
	}
/*.FooteralignLast{
		clear: both;
		float: inherit;
        display: -webkit-inline-box;
  
	}*/