#loader { 
	position: absolute;  
	z-index: 99;
    background:rgba(255, 255, 255, .7);
    transition:background 1s ease-out;
    -webkit-transition:background 1s ease-out;
    background-image: none;
    border-radius: 5px;
    margin: 0 1em 1em 1em;
    box-shadow: rgba(0,0,0, 0.55) 7px 14px 14px;
    border: 1px solid #eee;
}
#loader.done {
    background:rgba(255, 255, 255, 0);
}
#loader.hide {
    display:none;
}
#loader .message {
	font-size: 24px;
	font-weight: 700;
    position:absolute;
    left:50%;
    top:50%;
}
#gMapLoader {
    position: relative;
    border-radius: 5px;
    margin: 0 1em 1em 1em;
    box-shadow: rgba(0,0,0, 0.55) 7px 14px 14px;
    border: 1px solid #eee;
}