.dropdown-content{
	 display: none;
    z-index: 999;
    margin-top: 54px;
    margin-left: 236px;
    position: absolute;
    background-color: #f1f1f1;
    /* width: 100%; */
    padding: 10px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: solid 1px lightgrey;
}













/*.main{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
/*.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover *
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover *
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown *
.dropdown:hover .dropbtn {background-color: #3e8e41;}*/