 table .headcenter th{
 	text-align : center !important; 
}

.head{
	width : 100%;
	border : solid 1px LightGray;
	border-top-left-radius : 4px;
	border-top-right-radius : 4px;
	padding :5px;
	font-size : 16px;
}
.main{
	background-color : White;
	width : 100%;
	border : solid 1px LightGray;
}
.heading{
	font-size: 26px;
}

.ttfont{
	font-size : 10px;
}

.fttfont{
	font-size : 12px;
}
.ttpanel{
	padding : 1px;
	border-radis : 5px;
}

.foot{
	width : 100%;
	border : solid 1px LightGray;
	border-bottom-right-radius : 4px;
	border-bottom-left-radius : 4px;
	padding : 5px;
}
.segment{
	width : 100%;
	margin-top:5px;
}
.assignstore{
	width : 100%;
	margin-top:5px;
}
.country{
	width : 100%;
	margin-top:5px;
}
.zip{
	width : 100%;
	margin-top:5px;
	margin-bottom : 15px;
}
.gender{
	width : 100%;
	margin-top:5px;
	margin-bottom : 15px;
}
.district{
	width : 100%;
	margin-top:5px;
	margin-bottom : 15px;
}
.optin{
width : 100%;
	margin-top:5px;
	margin-bottom : 15px;
}
.right{
	float :	right;
}
.green{
	 background-color: #52c3ff;
    border: solid 1px #52c3ff;
    margin-top: 5px;
}
.greenfont{
	color : green;
	font-size : 20px;
	float : right;
	display: inline-block;
    width: 106px;
    text-align: right;
}
.greenfontmain{
	color : green;
	font-size : 28px;	
	float : right;
	display: inline-block;
    width: 106px;
    text-align: right;
}
.titlebox{
	color : Gray;
}
.boxmain{
	width : 100%;
	background-color : White;
	border : solid 1px LightGray;
	padding-left: 15px;
     padding-top: 22px;
    height: 200px;
}
#icon{
	font-size: 42px;
    float: left;
   	color : Gray;
}
.red{
	background-color: #FC6565;
    border: solid 1px #FC6565;
    margin-top: 5px;
	
}
.redfontmain{
	color : #FC6565;
	font-size : 28px;
	float : right;
	 display: inline-block;
    width: 135px;
    text-align: right;
}
.redfont{
	color : #FC6565;
	font-size : 20px;
	float : right;
	display: inline-block;
    width: 135px;
    text-align: right;
}
.yellow{
	 background-color: #AFC63B;
    border: solid 1px #AFC63B;
    margin-top: 5px;
}
.blue{
	background-color: Blue;
    border: solid 1px #AFC63B;
    margin-top: 5px;
}
.yellowfont{
	color  :  #AFC63B;
	font-size : 32px;
}
.guestCustomer{
	margin-top : 5px;
	margin-bottom : 5px;
}
.loyaltyCustomer{
	margin-top : 5px;
	
}
.suprep{
	float : left;
	
}
.suprep1{
	float: left;
}
.suprep2{
	float: left;
}
#pnlDatePicker{
	margin-top: 5px;
}
@media(min-width: 768px)
.col-sm-3
{
width:100% !important;
}
.input-lg {
    height: 49px !important;
    padding: 0px 13px !important;
    font-size: 16px !important;
    line-height: 1.333333 !important;
    border-radius: 6px !important;
}
#range-label
{
    text: center;
    top: 6px;
    position: relative;


}
.fontsize-head{
   font-size: 17px;
}
.fontsize{
    font-size: 18px;
}
.divmap{
	float : left;
	margin-right : 5px;
}
.divmap1{
	float : left;
	margin-right : 1px;
	
}
#pie{
	border : 1px solid lightGray;
	border-radius : 5p;
	padding : 5px;
	top: 5px;
    position: relative;
}
#bar{
	border : 1px solid lightGray;
	border-radius : 5p;
	padding : 5px;
}
.RegionAlign
     {
	  bottom: 4px;
      position: relative;	 
	 }
	 
	 .DesAlign
	  
	  {
	  
	  top : 5px;
	  position : relative;
	  
	  
	  }
.form-control1 
	  {
			display: inline-block !important;
			width: auto !important;
			margin-right: 10px !important;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
.first_content{
	float : right;
}
 #idOk
 {
     bottom: 2px;
    position: relative;
 
 }