body{
	background-color : White;
}
ddTab{
	float : left;
	width : 300px;
	height : 200px;
}
ddChart{
	float :left;
	width : 300px;
	height : 200px;
}
.gusCommon{
	width : 150px;
	float : left;
}
.monthsel{
	width : 900px;
	height : 400px;
	border : solid 1px DarkGray;
	float : left;
	border-radius : 5px;
}
.gustable{
	width : 650px;
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-top : 5px;
}
.lblGusTitle{
	font-size : 20px;
}
.ddCanvas1{
	width : 600px;
	height : 200px;
	float: left;
	border : solid 1px DarkGray;
	border-radius : 5px;	
	
}
.ddTable1{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 520px;
	float  :left;
	height : 400px;
	margin-left : 5px;
	
}
.ddTable2{
	border : solid 1px DarkGray;
	border-radius : 5px;
	float : left;
	margin-left : 5px;
}
.lblDD{
	float : left;
	font-size : 20px;
}	
#lblBack{
	
	text-color : Red !important;
}
.ChartChartCanvas2{
	border : solid 1px DarkGray;
	border-radius : 5px;
	float:left;
}
#map{
	margin-left : 10px;
	float : left;
	margin-top : -49px;
	border : solid 1px DarkGray;
	border-radius : 5px;
}
#map1{
	float : left;
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-top : -50px;
	margin-left : 10px;
}
.newTab{
	width : 600px;
	border : solid 1px DarkGray;
	border-radius : 5px;
}
.newText{
 	font-size : 14px;
}
.rgtText{
	float : left;
	margin-top : -23px;
	margin-left : 560px;
}
.fy{
	margin-left : 503px;
	margin-top : 8px;
	position : absolute;
}
.rgtSide1{
	margin-left : 10px;
}
.m td,
.m th
{
    text-align:left;
}

#summary,
.m td + td,
.m th + th
{
    text-align:right;
}