.analysisline12{
	float: left;
	width: 700px;
	border : solid 1px LightGray;
	border-radius :5px;
	padding : 20px;
	background-color: White;
	height : 600px;
}
.analysisLineGrid1 {
	float:left;
	width: auto;
	border: solid 1px LightGray;
	border-radius: 5px;
	background-color: White;
	margin-left:10px;
	padding: 20px;
}
.quoetexp {
	margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left: 473px;
}
 

.right1 {
	margin-left: 450px;
}
.margin {
float-left:5px;
}
.left {
float :left;
}
.rightr {
float: right;
}
.textallign {
text-align: right;
	float-left: 5px;
}