.analysisline12 {
	float: left;
	width: 100%;
	border: solid 1px LightGray;
	border-radius: 5px;
	padding: 20px;
	background-color: White;
	
	
}
.analysisLineGrid1 {
	float: left;
	width: 100%;
	border: solid 1px LightGray;
	border-radius: 5px;
	background-color: White;
	
	padding: 20px;
}
.quoetexp {
	margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left: 473px;
}
 

.right1 {
	margin-left: 450px;
}
.margin {
	text-align: right;
}
.left {
float :left;
}
.rightr {
	float:right;
}
.textallign {
text-align: right;
	float-left: 5px;
}
.grii {
width: 700px;
}
.expo {   margin-left: 450px;
	position: absolute;
	left: 175.6719px;
	top: 35px;
}