.rep
{
	background-color : #FFF !important;   	 
}
.repName{
	font-size : 20px;
}
.subName{
	font-size  :16px;
}
.chart{
	width : 1200px;
	border : solid 1px DarkGray;
	border-radius : 5px;
}
.grid{
	width : 1200px;
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-top : 10px;
}
.number{
	float : right;
}
.listItem{
	display : inline;
	text-decoration : none;
	list-style : none;	
	
}
.listup{
	margin-top : -65px;
	margin-left : 10px;
	padding-bottom : 5px;
	border : 1px ;
}
.listItem1{
	display : inline;
	text-decoration : none;
	list-style : none;	
	
}
.listup1{
	margin-top : -135px;
	margin-left : 1110px;
	padding-bottom : 5px;
	border : 1px;
}
.listHeader{
	margin-top : 10px;
	padding-top : 20px;
	padding-bottom : 5px;
}
.bord{
	border :1px;
}
.Fontval{
	font-size : 12px;
	float : right;
}
.Fontval1{
	font-size : 12px;
}
.totalTitle{
	margin-left : 1135px;
	margin-top : -81px;
}
.totalVal{
	margin-left : 1050px;
	margin-top : -147px;
}
.formatClass{
	font-size : 10px;
}
.numberformat{
	float : right;
}
.campaignName{
	font-size : 20px;
	}