.select{
	 position: absolute;
    right: 0px;
}
.title{
	font-size : 18px;
}
.form-control {
    display: inline !important;
    width: auto !important;
    height: auto !important;
    padding: 4px 12px !important;
    /* position: absolute !important; */
    right: 0px !important;
    top: 10px !important;
    position: relative;
	margin-bottom: 10px;
}
.add{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    bottom: 2px;
    position: relative;
    padding: 4px 12px;
    right: 20px;
    font-weight: normal;
	border-radius: 5px;
	
	 border: 1px solid transparent;
         left: 0px;
    top: 8px;
	}
table{
	width:auto !important 
    top: 40px;
    position: relative;
	border-collapse: collapse;
	}
.table
{
	top: 30px !important;
	position: relative !important;
}
/*td,th
	{
	border: 1px solid grey !important;
	padding:5px 10px;
	}*/
.header-data
{
float: left;
}
th{
	background: lightblue;
    color: white;
}
.right{
	float : right;
}
.cus{
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    bottom: 2px !important;
    position: relative !important;
    padding: 4px 12px !important;
    right: 20px !important;
    border: 1px solid transparent !important;
    left: 0px !important;
    top: 8px !important;
    border-radius: 7px !important;
}

.ThemeLinkButton, .ThemeLinkButtonSmall, .rdAgCommand, .rdOgCommand, .rdAcCommand, span.rdCgCommand, .rdDashboardCommand, input[type="button"] {
  color: #FFFFFF /*ButtonFontColor*/ !important;
  font-weight: normal;
  background-image: none;
 background-color: #337ab7 !important;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: baseline;
  border-color: transparent /*ButtonBorderColor*/ !important;
  border: 1px solid;
}
#yrval1,#yrval2{    width: 74px;
    left: 1px;
    position: relative;}
#qtr1,#qtr2{    width: 64px;
    left: 0px;
    position: relative;}
#period1,#period2{    width: 49px;
    left: 0px;
    position: relative;}
	
	#one{    top: 11px;
    position: relative;}
	
.add1{
	float: right;
    bottom: 41px;
    right: 70px;
    position: relative;
}
.right{
	float: right;
}