.numberFormat{
	text-align  : right;
	float : right;
}
.canvas{
	width : 400px;
	height : 200px;
	border : solid 1px DarkGray;
	border-radius : 5px;
	float : left;
}
.comp{
	width : 400px;
	height : 200px;
}
.map{
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-left : 410px;
	float : left;
	margin-top : -560px;
	position  : absolute;
}
.map1{
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-left : 410px;
	float : left;
	margin-top : -540px;
	position  : absolute;
}
.map2{
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-left : 410px;
	float : left;
	margin-top : -540px;
	position  : absolute;
}
.tab{
	border : solid 1px DarkGray;
	border-radius : 5px;
	float : left;
	margin-top :-200px;
	margin-left : 410px;
	width : 722px;
	position : absolute;
}
.tab1{
	border : solid 1px DarkGray;
	border-radius : 5px;
	float : left;
	margin-top :-130px;
	margin-left : 410px;
	width : 722px;
	position : absolute;
}
.tab2{
	border : solid 1px DarkGray;
	border-radius : 5px;
	float : left;
	margin-top :-562px;
	margin-left : 410px;
	width : 722px;
	position : absolute;
}
.tltName{
	font-size : 20px;
}
.ProductGeocode{
	background-color : White;
}
.rdThemeDataTable tr.ThemeAlternatingRow > td.red
{
background-color: Red;
} 
.rdThemeDataTable tr.ThemeAlternatingRow > td.green
{
background-color: Green;
} 
.red{
	background-color : Red;
}
.green{
	background-color: Green;
}
.summary{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 400px;
	margin-top : 210px;
	
}
.tltLbl{
	font-size : 18px;
}
.text{
	text-transform : uppercase;
}
.export{
	float : right ; 
}
.lineChart{
	width : 700px;
	height : 399px;
	border : 1px solid DarkGray;
	border-radius : 5px;
	
	
}
.lineGrid{
	width : 300px;
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-left : 710px;
	margin-top : -400px;

}
.salesName{
	font-size  :16px;
	
	margin-top : -0px;
	position : absolute;
}
.export1{
	margin-left	: 453px;	
}
.export2{
	margin-left	: 1070px;	
}
.measurePoint{
	    margin-left: 920px;
    margin-top: 5px;
    position: absolute;

}
/*.map1{
	border : solid 1px DarkGray;
	border-radius : 5px;
	margin-left : 410px;
	float : left;
	margin-top : -560px;
}*/