.quoetexp {
	 margin-top:00px;
     float:right;
}
.analysisline1{
	float: left;
	width: 700px;
	border : solid 1px LightGray;
	border-radius : 5px;
	padding : 20px;
	background-color: White;
	height : 600px;
}
.analysisLineGrid1 {
	float: left;
	width: auto;
	border: solid 1px LightGray;
	border-radius: 5px;
	background-color: White;
	margin-left: 20px;
	padding: 15px;
}
.right1 {
	margin-left: 220px;
}