body {
    font-family: Segoe UI /*MainFont*/, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: #363B42 /*PageFontColor*/;
    font-size: 100%;
    min-height: 100%;
    text-decoration: none;
    text-transform: none;
    text-rendering: optimizeLegibility;
}

.informationButton {
	position: absolute;
	z-index: 5;
	top: 3px;
	left: 3px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

input[type=radio], input[type=checkbox] {
		display:none;
	}

input[type=radio] + label, input[type=checkbox] + label {
	display:inline-block;
	margin:-2px;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

 input[type=radio]:checked + label, input[type=checkbox]:checked + label{
	   background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		background-color:#e0e0e0;
}

	
tr.Data 
	{
	display:none;
	}
.Main {
	font-weight: bold;
	background-color: Silver;
	color: Black;
}
.Total {
	font-weight: bold;
	background-color: Black !important;
	color: Green;

}
.DataLabel {

	background-color: #f2f2f2;
	color: Black;
	text-align: left;
}
.MainLabel {
	font-weight: bold;
	background-color: Silver;
	color: Black;
	text-align: left;
}
.TotalLabel {
	font-weight: bold;
	background-color: Black !important;
	color: #89BA3F;
	text-align: left;

}	
.MainData {
	font-weight: bold;
	background-color: Silver;
	color: Black;
	text-align: right;
}
.TotalData {
	font-weight: bold;
	background-color: Black !important;
	color: #89BA3F;
	text-align: right;
}	
.DataData {

	background-color: #f2f2f2;
	color: Black;
	text-align: right;
}	
#btnHideAll
	{
	display:none;
	}	

.ThemeHidden
	{
	display:none;
	}	
	
.HeaderGreen {
	background-color: #89BA3F !important;
	color: Black !important;
	font-weight: bold !important;
}

#subReport {
	position: absolute;
	left: 3%;
	right: 3%;
	width: 94%;
	min-width: 94%;
	top: 110px;
	height: 82%;
	border: 2px solid Black;
	overflow: auto;
    -ms-zoom: 1.00;
    -moz-transform: scale(1.00);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.00);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.00);
    -webkit-transform-origin: 0 0;

}
#subReport2 {
	position: absolute;
	border: 2px solid black; 
	right: 62px;
	left: 3%;
	width: 16%;
	top: 110px;
	height: 82%;
	max-width: 94%;
    -ms-zoom: 1.0;
    -moz-transform: scale(1.00);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.00);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.00);
    -webkit-transform-origin: 0 0;
    resize: horizontal;
	overflow: auto;
	cursor:nwse-resize; !important;
}
#subReport3 {
	position: absolute;
	border: 2px solid black; 
	right: 62px;
	left: 3%;
	width: 500px;
	top: 110px;
	height: 82%;
	max-width: 94%;
    -ms-zoom: 1.0;
    -moz-transform: scale(1.00);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.00);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.00);
    -webkit-transform-origin: 0 0;
    resize: horizontal;
	overflow: auto;
	cursor:nwse-resize; !important;
}

#divFooter {
	position:fixed;
	bottom:0px;
	height: 150px;
	left: 0px;
	width: 100vw;
	background-image: url("Images.footer1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.Title {
	color: #1E394C;
	font-size: 12vmin;
	text-align: center;
	font-weight: bold;
	}

.Title2 {
	color: #8ABC41;
	font-size: 12vmin;
	text-align: center;
	font-weight: bold;
	}
	
/* Keyframes for the fade-out */
@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.fade-out {
  opacity: 1;
  opacity: 0 \9; /*just in case ie*/
  -webkit-animation:fadeOut ease-out 1;
  -moz-animation:fadeOut ease-out 1;
  animation:fadeOut ease-out 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

.ImageResize {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 100;
}
.imgTableSelect {
	position: relative;
}

.ResizeHandle {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index:999999;
	cursor:nwse-resize; !important;
}

.code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
	color: #8ABC41;

}
#divAnimation {
	width: 100%;
	text-align: center;
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #38c;
    font-weight: 600 !important;
}

.ThemeHeaderSuper {
	font-size: 3vw;
	font-weight: bold;
	color: #8ABC41;
}
.ThemeHeaderSuper:hover {
	font-size: 3vw;
	font-weight: bold;
	color: #E18C79;
}

.ThemeHeaderSuperRed {
	font-size: 3vw;
	font-weight: bold;
	color: #E18C79;
}

.ThemeHeaderSuperBold {
	font-size: 3.1vw;
	font-weight: bolder;
}
.ThemeHeaderSuperRegular {
	font-size: 3vw;
	color: #8ABC41;
}
.ThemeHeaderSuperRegular:hover {
	font-size: 3vw;
	color: #E18C79;
}