.analysisline12{
	float: left;
	width: 700px;
	border : solid 1px LightGray;
	border-radius :5px;
	padding : 20px;
	background-color: White;
	height : 600px;
}
.analysisLineGrid1 {
	float:left;
	width: auto;
	border: solid 1px LightGray;
	border-radius: 5px;
	background-color: White;
	margin-left:10px;
	padding: 20px;
}
.quoetexp {
	margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left: 473px;
}
 

.right1 {
	margin-left: 450px;
}
.margin {
float-left:5px;
}
.left {
float :left;
}
.rightr {
	float: right;
	text-align: right;
}
.textallign {
text-align: right;
	float-left: 5px;
}
.margin1 {text-align: right;
}
.padding {
	padding-left: 30px;
}


.m td,
.m th
{
    text-align:left;
}

#summary,
.m td + td,
.m th + th
{
    text-align:right;
}
.marginleft {
	padding-left: 25px;
}

.rightr {
	float: right;
	text-align: right;
}

.foloatright {
	float: right;
	padding-left: 4250px;
	padding-top: 0px;
}
.closebuclass {
background-color: Blue;
}