.chart{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 1000px;
}
.tab{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 500px;
	margin-top : 10px;
}
.number{
	float : right;
}
.repName{
	font-size : 20px;
}
.selName{
	font-size : 16px;
}
.rep{
	background-color : White;
}
.tableName{
	float:left;
}