/*Custom to lambdaex*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: unset;
  	display: block;
}
.md-form .bootstrap-select button,
.md-form .bootstrap-select .btn-light:not(:disabled):not(.disabled):active, .bootstrap-select .btn-light:not(:disabled):not(.disabled).active, .bootstrap-select.show > .btn-light.dropdown-toggle,
.md-form .bootstrap-select .btn-light.dropdown-toggle,
.md-form .bootstrap-select .btn-light:not([disabled]):not(.disabled):active, .Material .bootstrap-select .btn-light:not([disabled]):not(.disabled).active, .Material .bootstrap-select .show > .btn-light.dropdown-toggle, 
.md-form .bootstrap-select .btn-light:not([disabled]):not(.disabled):active:focus, .Material .bootstrap-select .btn-light:not([disabled]):not(.disabled).active:focus, .Material .bootstrap-select .show > .btn-light.dropdown-toggle:focus,
.md-form .bootstrap-select .btn-light.dropdown-toggle:focus {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
	border-radius: 0;
	background-color: transparent !important;
	-webkit-box-shadow: unset;
     box-shadow: unset; 
    padding: 0.375rem 0.75rem !important;
	margin: 0;
	font-size: 1rem;
}
.md-form .bootstrap-select > .dropdown-toggle {
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: right;
  white-space: nowrap;
	-webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.bootstrap-select .dropdown-menu {
	border-radius: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    will-change: width,height;
    z-index: 1031;
}
.md-form .bootstrap-select.show .dropdown-toggle > .filter-option:after {
    left: 0;
    visibility: visible;
    width: 100%;
}
.md-form .bootstrap-select .dropdown-toggle > .filter-option:after {
    background-color: rgb(63,81,181);
    bottom: -2px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px;
}
/*End Custom to lambdaex*/