.popupPanelModal + .popupPanelContainer {
	position: fixed;
	height: 100%;
	top: 0 !important;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	transition: visibility 0s 0.6s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	transition-delay: .3s;
}
.popupPanelModal + .popupPanelContainer.is-visible {
	margin-left: 0;
  	left: 0 !important;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	transition-delay: .1s;
}
.popupPanelModal + .popupPanelContainer.from-right.is-visible {
	margin-left: 0;
  	left: auto !important;
	right: 0;
}
.popupPanelModal + .popupPanelContainer > table > tbody > tr > td {
	vertical-align: top;
}
.popupPanelModal + .popupPanelContainer > table {
	width: 100%;
	height: 100%;
    border-radius: 0px;
    padding: 8px;
    -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .popupPanelModal + .popupPanelContainer {
    width: 100%;
	margin-left: -100%;
  	left: -100% !important;
  }
}
@media only screen and (min-width: 768px) {
  .popupPanelModal + .popupPanelContainer {
    width: 70%;
	margin-left: -70%;
  	left: -70% !important;
  }
}
@media only screen and (min-width: 1170px) {
  .popupPanelModal + .popupPanelContainer {
    width: 50%;
	margin-left: -50%;
  	left: -50% !important;
  }
}