/*Filter Slideout bar*/
#slideout {
	position: fixed;
	right: 0;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
#slideout_inner {
	position: fixed;
	top: 4em;
	right: -280px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	min-height: 100%;
    padding: 12px;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    padding-bottom: 0;
    padding-top: 1.8em;
    border-radius: 0;
    background-color: #EFEFF0;
    -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #CCC;
    border-right: 0;
    background-image: url(Sidebar.sidebar-shadow.png);
    background-repeat: repeat-y;
    background-position: left top;
    width: 280px;
    max-width: 100%;
}
#slideout.open {
  right: 280px;
}
#slideout.open #slideout_inner {
  right: 0;
}
/*End Filter Slideout bar*/
/*Toggle button*/
#actToggleFilters {
    top: 6em;
	text-decoration: none !important;
    position: fixed;
    right: 0;
    height: 65px;
    width: 18px;
    text-align: center;
    background: rgba(119, 119, 119, 1);
    display: block;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    z-index: 1;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
#actToggleFilters:hover {
    background: rgba(0, 0, 0, .8);
}
#toggleFilters > .rotate {
    font-size: 14px;
    display: block;
    color: #fff;
    white-space: nowrap;
    bottom: 0;
    font-weight: normal;
	padding-left: 10px;
}
#toggleFilters > .rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    white-space: nowrap;
    bottom: 0;
    font-weight: normal;
}
#slideout.open~#actToggleFilters {
	right: 280px;
}
/*End Toggle button*/
/*Main Content*/
#divContent {
	margin-right: 10px;
	width: calc(100% - 10px);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
#slideout.open~#divContent {
	margin-right: 290px;
	right: 290px;
	width: calc(100% - 290px);
}
#slideout.open~#divContent .logo {
	right: 280px;
}
/*Main Content*/