.repName{
	font-size : 20px;
}
.lblName{
	font-size :16px;
}
.grid12{
	border : solid 1px DarkGray;
	border-radius : 5px;
	width : 100% ;
}
.tblName{
	font-size : 16px;
}
.repSource{
	background-color : White;
}
.numberFormat{
	float : right;
}