.analysisline1{
	float: left;
	width: 700px;
	border : solid 1px LightGray;
	border-radius : 1px;
	padding : 20px;
	background-color: White;
	height : 600px;
}
.analysisLineGrid1 {
	float: left;
	width: 100%;
	border: solid 1px LightGray;
	border-radius: 5px;
	background-color: White;
}
.quoetexp {
	margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left: 473px;
}
 

.right1 {
	margin-left: 364px;
}
.margin {
	float-left: 5px;
	
}
.textallign {
	text-align: right;
	float-left: 5px;
}
.m td,
.m th
{
    text-align:left;
}

#summary,
.m td + td,
.m th + th
{
    text-align:right;
}
.marginleft {
	padding-left: 25px;
}
.margin1 {
	text-align:right;
}
.rightr {
float:right;
}