/* application.css - Logi Analytics, 2015
******************************************************************************************/
	/* Google font: Lato */
	html{
		height: 100%;
		min-height: 100%;
	}
	
	body{
		height: 100%;
		min-height: 100%;
		background: #FFF;
		color: #292E3C;
		font-family: 'Open Sans', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
		font-size: 13px;
		font-weight: normal !important;
	}
	
	form[name="rdForm"]{
		height: 100%;
	}
	
	h1,.h1,h2,.h2,h3,.h3{
		text-align:left;
	}
/* Body + Layout */
	.off-canvas{
		overflow-x:hidden;
	}
	#rdMainBody, #masterContent {
		margin: 0;
		padding: 0;
		top: 0;
		height: 100%;
	}
	#masterContent #mainContent{
		padding: 0.5em 1.4em;
		min-height: calc(100% - 5em);
		position: relative;
		top: 0;
		left: 0;
		-moz-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-o-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-ms-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
	}
	
	#Sidebar{
		width: 19.3em;
		left: -19.3em;
		height: 100%;
		background: #00AAF0;
		color: #F7F7F7;
		position: fixed;
		padding: 0 0 4.5em;
		z-index:999;
		top: 4.2em;
		-moz-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-o-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-ms-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transform: translateZ(0);	
	}
	
	#FooterWrap{
		position: relative;
		left: 0;
		z-index: -1;
		-moz-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-o-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-ms-transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		transition: left 350ms cubic-bezier(0.25,0.81,0.36,1.00);
		-webkit-transform: translateZ(0);	
		top : 12px;
	}
	
	#FooterWrap #Footer{
		border-top: 1px solid #e4eaec;
		background: #F0F0F0;
		color: #999;
		max-height: 3em;
		height: 3em;
		padding: .5em 1em;
		margin-top: 2em;
	}
	
	
	
	.no-topbar #Sidebar,
	.no-topbar #Header,
	.no-topbar #mainContent,
	.no-framework #mainContent{
		top: 0;
	}
	
	#Sidebar.Open{
		left: 0;
	}
	
	#Sidebar.StaticOpen{
		left: 0;
	}
	
	#Sidebar.StaticOpen ~ #Header,
	#Sidebar.StaticOpen ~ #mainContent,
	#Sidebar.StaticOpen ~ #FooterWrap {
		margin-left: 19.3em;
	}
	
	#Sidebar.Open ~ #Header,
	#Sidebar.Open ~ #mainContent{
		left: 19.3em;
	}
	
	#Sidebar.Open ~ #mainContent {
		/*width: calc(100% - 16.1em);*/
		width: calc(100% - 19.3em);
	}
	
	#Sidebar.Open ~ #FooterWrap{
		left: 19.3em;
		width: calc(100% - 19.3em);
	}

	#Sidebar .sidebar-logo{
		max-width: 12.5em;
		margin: 1em 0;
	}
	
	#Sidebar:hover{
		overflow-y: auto;
	}

	.footer-wrap{
		background: #444444;
	}

	.footer-content,
	.footer-content a{
		color: #FFF;
		padding: 1em 0;
	}
	
	#divScrollToTop{
		position: fixed;
		right: .5em;
		bottom: 1em;
		font-size: xx-large;
		display: none;
		opacity: 0.5;
		z-index: 1000;
		background: #CCBEB8;
		padding: 0 .2em;
		border-radius: .37em;
	}
	
	#divScrollToTop #ScrollToTop{
		cursor: pointer;
	}

	@media (max-width: 767px){
		#Sidebar,
		#Sidebar.StaticOpen,
		#Sidebar.Closed{
			left: -19.3em;
		}
		
		#Sidebar,
		#Sidebar.StaticOpen.Open,
		#Sidebar.Closed.Open{
			left: 0;
		}
		
		#Sidebar.StaticOpen ~ #Header,
		#Sidebar.StaticOpen ~ #mainContent, 
		#Sidebar.StaticOpen ~ #Footer{
			margin-left: 0;
		}
		
		#Sidebar:not([class]),
		.no-sidebar{
			display: none;
		}
	}
	
	/* LayoutStyle: Boxed*/
	@media (min-width:76.5em){
		.LayoutStyleBoxed{
			position: relative;
		}
		
		.LayoutStyleBoxed #mainContent {
			padding: 1.5em 0;
		}
	
		.LayoutStyleBoxed #Sidebar{
			position: absolute;
			min-height: 37.5em;
		}
		
		.LayoutStyleBoxed #Sidebar:not([class]){
			display:none;
		}
		
		.LayoutStyleBoxed .page-title {
			padding: 0;
			margin: -1em 0 1em;
			border-bottom: none;
			background: transparent;
		}
		
		.LayoutStyleBoxed div#ppChangeDashboard_rdModalShade,
		.LayoutStyleBoxed div.popupPanelModal{
			max-width: 100%;
		}
		
		.LayoutStyleBoxed #mainContent.contentWrapper{
			max-width: 97.5em;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
		
		.LayoutStyleBoxed table.rdPopupPanel{
			width: 100%;
		}
		
		.LayoutStyleBoxed div.popupPanelContainer{
			position: fixed;
			left: 13%!important;
			right: 12%!important;
			width: 75%;
		}
	}
	
	.no-Header #Sidebar,
	.no-Header #mainContent{
		top: 0;
	}

	/* Small Screen */
	@media (min-width: 768px){
		.LayoutStyleBoxed #mainContent.contentWrapper{
			max-width: 750px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
	}
	
	/* Medium Screen */
	@media (min-width: 992px){
		.LayoutStyleBoxed #mainContent.contentWrapper{
			max-width: 970px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
	}
	
	/* Large Screen */
	@media (min-width:1200px){
		.LayoutStyleBoxed #mainContent.contentWrapper{
			max-width: 1170px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
	}	

	
/* iFrame Report helper classes */
	.transparent-bg{
		background:transparent!important;
	}
	
	.iframe-report #Header,
	.iframe-report #Sidebar,
	.iframe-report #Footer,
	.iframe-report div.Content-Overlay,
	.iframe-report #divScrollToTop{
		display:none!important;
	}
	
	.iframe-report #mainContent{
		padding: 0;
		top: 0;
	}
	
	.iframe-report div[class*='rd-gridsystem'].row,
	.iframe-report div.row{
		margin-left: 0;
		margin-right: 0;
	}
	

/* Start Sidebar Nav */	
	#sidebar-nav{
		margin: 2em 0 0;
	}
	
	.Sidebar-left.collapsed ul#nav-items li a span.item-label{
		display: none;
	}
	
	#sidebar-nav div#menu-item{
		display: block;
	}

	#sidebar-nav div#menu-item div>a{
		color: #7A7E8A;
		font-size: medium;
		cursor: pointer;
		text-decoration: none;
		display: block;
		padding: .8em 1.5em;
	}
	
	#sidebar-nav div#menu-item:hover div>a,
	#sidebar-nav div#menu-item.active div>a{
		color: #FFF;
		text-decoration: none;
		background: #2986B8;
	}
	
	#sidebar-nav div#menu-item ul#sub-nav,
	#sidebar-nav div#menu-item ul#sub-nav li{
		list-style: none;
		list-style-type: none;
	}
	
	#sidebar-nav div#menu-item #sub-nav{
		background: #243140;
		padding: .5em 0 .5em 2.2em;
		font-size: small;
	}
	
	#sidebar-nav div#menu-item ul#sub-nav li{
		display: block;
	}
	
	#sidebar-nav div#menu-item ul#sub-nav li a{
		color:#7A7E8A;
		text-decoration: none;
		cursor: pointer;
		display: block;
		padding:.5em 0;
	}
	
	#sidebar-nav div#menu-item ul#sub-nav li a:hover{
		color:#FFF;
		text-decoration: none;
	}
	
	#sidebar-nav div#Breadcrumbs{
		background: rgba(250, 250, 250, .1);
		padding: 1em;
		margin-bottom: 1.25em;
		font-size: .625em;
	}
	
	#sidebar-nav div#Breadcrumbs span{
		cursor: pointer;
	}

/* End Sidebar Nav */

/* JMenu2 */
	#JMenu2>ul#BuildActiveJMenu,
	#JMenu2 ul#ActiveMenuItems,
	#JMenu2 ul#ActiveMenuItems ul{
		margin: 0;
		padding:0;
		list-style: none;
		list-style-type: none;
	}
	
	#JMenu2 ul#ActiveMenuItems>li{
		display: block;
		border-color: #2f3c43;
	}	
	
	#JMenu2 ul#ActiveMenuItems>li>a{
		/*color: #7A7E8A;
		font-size: medium;
		cursor: pointer;
		text-decoration: none;
		display: block;
		padding: .8em;*/
		cursor: pointer;
		text-decoration: none;
		display: block;
		
		color: #404040;
		border-color: #e6e6e6;
		border-width: 0 0 1px 0;
		border-style: solid;
		padding: 10px 5px;
		font-size: 14px;
		text-transform: uppercase;
	}
	#JMenu2 ul#ActiveMenuItems>li>a>.fa {
		font-size: 17px;
		margin-right: 8px;
		color: #404040;
	}
	#JMenu2 ul#ActiveMenuItems>li.active>a,
	#JMenu2 ul#ActiveMenuItems>li:hover>a,
	#JMenu2 ul#ActiveMenuItems>li>a:focus,
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
		color: #404040;
		text-decoration: none;
		background: #f5f5f5;
		-webkit-transition: all .1s ease .1s, color .1s;
		transition: all .1s ease 0.1s, color 0.1s;
		transition-timing-function: cubic-bezier(.1, .1, .1, .1);		
	}
	
	/* Submenu items */
	#JMenu2 ul#ActiveMenuItems>li.dropdown>.expand-sub{
		position: absolute;
		right: 0;
		padding: 14px 18px;
		-webkit-transition: all .1s ease .1s, color .1s;
		transition: all .1s ease 0.1s, color 0.1s;
		transition-timing-function: cubic-bezier(.1, .1, .1, .1);
		color: #000;
	}
	
	#JMenu2 ul#ActiveMenuItems>li.dropdown>.expand-sub:hover,
	#JMenu2 ul#ActiveMenuItems>li.dropdown>.expand-sub:focus{
		background-color: #fff;
		color: #092936;
	}
	
	#JMenu2 ul#ActiveMenuItems>li.dropdown>ul .expand-sub{
		position: absolute;
		right: 0em;
		padding: .7em 1.3em;
		width: 2.8em;
	}
	
	#JMenu2 ul#ActiveMenuItems>li.dropdown>ul .expand-sub:hover,
	#JMenu2 ul#ActiveMenuItems>li.dropdown>ul .expand-sub:focus{
		color: #000;
		background: #FFF;
	}	
	
	#JMenu2 ul#ActiveMenuItems>li ul{
		display: none;
		margin-left: 1.5em;
		margin-bottom: .5em;
	}
	
	#JMenu2 ul#ActiveMenuItems>li>ul{
		background: rgba(250,250,250,.1);
		margin: 0!important;
		padding:0em;
		border-left: 4px solid #fff;
	}	
	
	#JMenu2 ul#ActiveMenuItems>li ul a{
		outline: none;
		color: #404040;
		padding: .5em;
		display: block;
		-webkit-transition: all .1s ease .1s, color .1s;
		transition: all .1s ease 0.1s, color 0.1s;
		transition-timing-function: cubic-bezier(.1, .1, .1, .1);     border-bottom: solid 1px #e6e6e6;
	}
	
	#JMenu2 ul#ActiveMenuItems>li ul a:hover,
	#JMenu2 ul#ActiveMenuItems>li ul li.active>a,
	#JMenu2 ul#ActiveMenuItems>li ul a:focus{
		padding-left: .65em;
		text-decoration: none;
		color: #404040; background:#f5f5f5;
	}
	
	#Header ul#BuildActiveJMenuHeader{
		display:none;
	}
	
	#JMenu2 #AdminMenu{
		background-color: rgba(0,0,0,.5);
	}
	.dropdown:hover .dropdown-menu {
		display: block;
	}
/* END JMenu2 */

/* Page titles */
	.page-title{
		padding: 0 1em;
		margin: -1.4em -17px 1em -1.4em;
		border-bottom: 1px solid #BABABA;
		background: #FFF;
	}
	
	.page-title h1,
	.page-title h2,
	.page-title h3{
		margin: 0;
		padding: 0;
	}
	

/* Panels */
	.panel .panel-heading{
		color: #6F767F;
		font-weight: bold;
		font-size: 1.3em;
	}
	
	.panel .panel-heading.clean{
		border: none;
		background: none;
	}
	
/* Date Tool */
	div#datetime-tool{
		position: relative;
	}
	
	div#datetime-tool #datetime-selector{
		margin-top: -.4em;	
		position: static;
	}
	
	div#datetime-tool #tool-pane{
		padding: .5em;
		min-width: 15em;
		max-width: 35em;
	}	
	
	div#datetime-tool #lblDatetime{
		font-size: 2em;
		font-weight: bold;
	}
	
	div#datetime-tool #Calendar {
		font-size: 1.5em;
	}
	
	div#datetime-tool #Clock{
		font-size: .9em;
	}
	
	/*#rdAddTabCog{
		top: -.75em!important;
		position: absolute!important;
		right:1em;
		left: auto !important;
		z-index: 999;
	}
	
	#rdSettingsCog{
		top: -.625em!important;
		position: absolute!important;
		right: 3.15em;
		left: auto !important;
		z-index: 999;
	}
	
	#rdRenameTabDiv{
		right: 3.15em !important;
		top: -.625em !important;
		left: auto !important;	
		position: absolute;
		width: 1.75em;
		z-index: 999;
	}*/
	
/* Dashboard and rdTabs */


	
/*Logi Tabs*/
	.yui-nav>li:not(.selected) {
		border-bottom: 1px solid rgba(229,229,229,.5);
		background-color: #EFEFF1;
	}
	.yui-nav>li>a {
		border: 1px solid rgba(229,229,229,.5);
		border-bottom: 0 !important;
		border-radius: 2px 2px 0 0 !important;
		color: #4C4C4C !important;
		line-height: 1.3333333;
	}
	.yui-navset .yui-nav .selected a, .yui-navset .yui-nav a {
		font-size: 16px;
	}
	.yui-nav>li>a {
		margin-right: 1px !important;
		margin-left: 1px !important;
	}
	.yui-nav>li:first-child>a {
		margin-left: 0 !important;
	}
	.yui-nav>li:last-child>a {
		margin-right: 0 !important;
	}
	.yui-nav>li:not(.selected)>a {
		border-bottom: 0px;
		box-shadow: inset 0px -11px 8px -10px rgba(229,229,229,.5) ; 
	}
	.yui-nav>li:not(.selected) {
		border-bottom: 1px solid #ddd;
	}
	.yui-nav>li.selected>a {
		background-color: #fff;
	}
	.yui-navset .yui-nav li.selected, .yui-navset .yui-nav li.selected:hover {
		background-color: #fff;
		border-top: 0;
		text-align: center;
	}
	
	

	.yui-navset .yui-nav li:not(.selected):hover {
		background-color: #628c87 !important;
		background-image: -webkit-linear-gradient(top, #628c87 0, #8dc9c1 100%);
		background-image: -o-linear-gradient(top, #628c87 0, #8dc9c1 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #628c87), to(#8dc9c1));
		background-image: linear-gradient(to bottom, #628c87 0, #8dc9c1 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff628c87', endColorstr='#ff8dc9c1', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		background-repeat: repeat-x;
		text-decoration: none !important;
		background-color: white;
	}
	.yui-navset .yui-nav li {
		padding: 0;
		border-radius: 2px 2px 0 0;
	}
	.yui-navset .yui-nav li a {
		padding: 8px 40px 8px 40px !important;
		border-color: #eee #eee #ddd !important;
	}
	.yui-navset .yui-nav .selected a, .yui-navset .yui-nav li a, #rdTabs > ul > li > a {
		border: #e1e1e1 solid 1px !important;
		border-color: #e1e1e1 !important;
		width: 100% !important;
	}
	.yui-content table {
		margin-bottom: 0;
	}
	#rdTabs > ul > li.selected > a {
		border-bottom: none !important;
	}
	#rdTabs .selected.yui3-dd-drop a em {
		font-weight: normal;
	}
	.yui-navset.yui-navset-top>.yui-content {
		background-color: #fff !important;
	}
	
	.rdDashboardTabs {
		margin-top: 0;
		position: relative;
		margin-top: .625em;
	}	
	#rdDashboardPanelTable, #rdDivDashboardPanelTable, .rdDashboardDropZone {
		background-color: #fff !important;
		min-height: 8em;
		/*padding: 0 5px 15px 5px;
		margin-bottom: 20px;*/
	}
	td.rdDashboard, .rdDashboardPanelContainer {
		background-color: transparent;
		margin-bottom: 0;
		padding-bottom: 0;
		border: none;
	}
	.rdDashboardPanel {
		margin-bottom: 5px; 
	}

	.rdDashboardPanelImageColumn {
		text-align: center;
	}
	
	/*table.rdDashboard .yui-navset div.yui-content {
		border: none!important;
		background-color: transparent!important;
	}
	
	table.rdDashboard .rdDashboardPanelContainer,
	table.rdDashboard .rdDashboard,
	table.rdDashboard #rdDashboardPanelTable, 
	table.rdDashboard #rdDivDashboardPanelTable, 
	table.rdDashboard .rdDashboardDropZone {
		background-color: transparent;
	}
	
	table.rdDashboard td.rdDashboardDropZoneActive{
		background-color: #0096d6!important;
		min-height:1.25em;
		width: 100%;
	}
	
	table.rdDashboard tr#rowPanels .rdDashboardColumn {
		padding: 0 1em 0 0;
	}
	
	table.rdDashboard tr#rowPanels .rdDashboardColumn:last-child {
		padding: 0;
	}
	
	table.rdDashboard .yui-navset .yui-nav li{
		background-color: transparent;
		border-radius: 0;
		border-top: none;
		border-bottom: 2px solid transparent;
		padding: 0;
		margin: .5em 1.6em 0 0;	
		font-size: 1.25em;
	}

	table.rdDashboard .yui-navset .yui-nav li.selected,
	table.rdDashboard .yui-navset .yui-nav li:hover {
		background-color: transparent;
		border-radius: 0;
		border-top: none;
		border-bottom: 2px solid #0096d6;
		padding: 0;
		margin: .5em 1.6em 0 0;	
		font-size: 1.25em;	
	}
	
	table.rdDashboard .yui-navset .yui-nav li a,
	table.rdDashboard .yui-navset #rdTabs .yui-nav li a em{
		color: #363b42 !important;
		font-weight: normal;
	}
	
	table.rdDashboard .rdDashboardPanel{
		margin: 0;
	}
	
	table.rdDashboard td.rdDashboardTitle {
		background: transparent;
		padding: 0 .5em;
		border-bottom: 2px solid #F2F2F2;
	}
	
	table.rdDashboard .rdDashboardColumn .rdDashboardTitleCaption, 
	table.rdDashboard #rdDivDashboardPanelTable .rdDashboardTitleCaption {
		color: #363b42;
		font-weight: normal;
		margin: 0;
	}
	
	table.rdDashboard .rdDashboardPanel{
		-webkit-box-shadow: .375em .313em .313em -3px rgba(0,0,0,0.2);
		-moz-box-shadow: .375em .313em .313em -3px rgba(0,0,0,0.2);
		box-shadow: .375em .313em .313em -3px rgba(0,0,0,0.2);
	}
	
	table.rdDashboard .rdPopupPanel .rdDashboardPanel{
		-webkit-box-shadow: none!important;
		-moz-box-shadow: none!important;
		box-shadow: none!important;
	}	
	
	th.rdAgDataTable td,
	table.rdAgDataTable th,
	table.rdAgDataTable th a,
	tr.rdAgHeaderRow th,
	#rowsAnalysisGrid .rdAgContentRow{
		background: #f8f8f8;
	}	*/
	
	
	
/* KPIs */
	.kpi{
		padding: 1em;
		border: 1px solid;
		margin: 0 0 2em;
	}
	
	.kpi .kpi-label{
		display: block;
		font-size: large;
	}
	
	.kpi .kpi-value{
		font-size: 1.5vw;
		display: block;
		font-weight: bold;
	}
	
	.kpi #kpi-icon, .kpi #kpi-icon_Row1 {
		display: inline-block;
		position:relative;
		float: right;
		margin: .1em;
		font-size: 3.6em;
		padding: 0.6em;
	}
	.kpi #kpi-icon.fa, .kpi #kpi-icon_Row1.fa {
		padding: 0;
	}
	
	/* KPI screen size enhancements */
	@media (max-width: 992px){
		.kpi{
			text-align: center;
		}
		
		.kpi .kpi-value{
			font-size: 200%;
		}		

		.kpi #kpi-icon, .kpi #kpi-icon_Row1 {		
			display: block;
			float: none;
			padding: 0.6em;
			max-width: 6.25em;
			margin: 0 auto;
			min-height: 6.25em;
		}
	}	
	
	/* KPI up arrow*/
	.kpi #kpi-icon.up-arrow, .kpi #kpi-icon_Row1.up-arrow {
        background: url("../images/up-arrow.png") no-repeat top center;
		background-size: 100%;
    }
	
	/* KPI down arrow*/
	.kpi #kpi-icon.down-arrow, .kpi #kpi-icon_Row1.down-arrow {
        background: url("../images/down-arrow.png") no-repeat top center;
		background-size: 100%;
    }
	
	/* KPI check*/
	.kpi #kpi-icon.check, .kpi #kpi-icon_Row1.check {
        background: url("../images/check.png") no-repeat top center;
		background-size: 100%;
    }
	
	/* KPI cross*/
	.kpi #kpi-icon.cross, .kpi #kpi-icon_Row1.cross {
        background: url("../images/cross.png") no-repeat top center;
		background-size: 100%;
    }

	/* KPI warning*/
	.kpi #kpi-icon.warning, .kpi #kpi-icon_Row1.warning {
        background: url("../images/warning.png") no-repeat top center;
		background-size: 100%;
    }	
	
	/*KPI green*/
	.kpi-green{
		color: #fff;
		border-color: #4db6ac;
		background: #4db6ac;
	}

	/*KPI red*/
	.kpi-red{
		color: #fff;
		border-color: #ff7043;
		background: #ff7043;
	}	
	
	/*KPI blue*/
	.kpi-blue{
		color: #fff;
		border-color: #00bcd4;
		background: #00bcd4;
	}
	
	/*KPI yellow*/
	.kpi-yellow{
		color: #fff;
		border-color: #ffc107;
		background: #ffc107;
	}
	
	/*KPI grey*/
	.kpi-grey{
		color: #3D3D3D;
		border-color: #CBCBCB;
		background: #CBCBCB;
	}
	
	/*Start KPI TILES*/
.info-tile {
  margin: 0px 0px 16px;
  box-shadow: 1px -1px 0 0 #eeeeee inset, -1px 0 0 0 #eeeeee inset;
  background-color: #fff;
  padding: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 1px;
  display: block;
  border-width: 2px 0 0 0;
  border-style: solid;
  min-height: 125px;
}
.info-tile:before {
  display: block;
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.info-tile .tile-heading {
  text-align: left;
  color: #9e9e9e;
  height: 16px;
  line-height: 16px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.info-tile .tile-body {
  text-align: left;
  color: #616161;
  font-size: 32px;
  font-weight: 300;
  line-height: 72px;
  position: relative;
  z-index: 1;
}
.info-tile .tile-footer {
  text-align: left;
  font-size: 11px;
  position: absolute;
  left: 16px;
  bottom: 8px;
}
.info-tile .tile-icon {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  right: 8px;
  bottom: -64px;
}
.info-tile .tile-icon i {
  font-size: 48px;
  position: absolute;
  left: 96px;
  top: 0;
}
.info-tile .tile-icon span {
  font-size: 48px;
  position: absolute;
  right: 5px;
  top: -15px;
  color: #b0bec5;
}
.info-tile .tile-icon span.smaller {
  font-size: 35px;
}
.info-tile.tile-warning {
  border-color: #ffd54f;
}
.info-tile.tile-warning .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-warning .tile-body {
  color: #ffd54f;
}
.info-tile.tile-success {
  border-color: #aed581;
}
.info-tile.tile-success .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-success .tile-body {
  color: #aed581;
}
.info-tile.tile-teal {
  border-color: #4db6ac;
}
.info-tile.tile-teal .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-teal .tile-body {
  color: #4db6ac;
}
.info-tile.tile-lime {
  border-color: #dce775;
}
.info-tile.tile-lime .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-lime .tile-body {
  color: #dce775;
}
.info-tile.tile-danger {
  border-color: #f36c60;
}
.info-tile.tile-danger .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-danger .tile-body {
  color: #f36c60;
}
.info-tile.tile-info {
  border-color: #4dd0e1;
}
.info-tile.tile-info .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-info .tile-body {
  color: #4dd0e1;
}
.info-tile.tile-green {
  border-color: #81c784;
}
.info-tile.tile-green .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-green .tile-body {
  color: #81c784;
}
.info-tile.tile-primary {
  border-color: #4fc3f7;
}
.info-tile.tile-primary .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-primary .tile-body {
  color: #4fc3f7;
}
.info-tile.tile-gray {
  border-color: #e0e0e0;
}
.info-tile.tile-gray .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-gray .tile-body {
  color: #e0e0e0;
}
.info-tile.tile-orange {
  border-color: #ffb74d;
}
.info-tile.tile-orange .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-orange .tile-body {
  color: #ffb74d;
}
.info-tile.tile-blue {
  border-color: #64b5f6;
}
.info-tile.tile-blue .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-blue .tile-body {
  color: #64b5f6;
}
.info-tile.tile-green {
  border-color: #81c784;
}
.info-tile.tile-green .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-green .tile-body {
  color: #81c784;
}
.info-tile.tile-purple {
  border-color: #ba68c8;
}
.info-tile.tile-purple .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-purple .tile-body {
  color: #ba68c8;
}
.info-tile.tile-indigo {
  border-color: #7986cb;
}
.info-tile.tile-indigo .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-indigo .tile-body {
  color: #7986cb;
}
.info-tile.tile-brown {
  border-color: #a1887f;
}
.info-tile.tile-brown .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-brown .tile-body {
  color: #a1887f;
}
.info-tile.tile-deeporange {
  border-color: #ff8a65;
}
.info-tile.tile-deeporange .tile-icon i {
  color: #b0bec5;
}
.info-tile.tile-deeporange .tile-body {
  color: #ff8a65;
}
.info-tile.info-tile-alt {
  box-shadow: none;
}
.info-tile.info-tile-alt.tile-warning {
  background: #ffc107;
  border-color: #ffc107;
}
.info-tile.info-tile-alt.tile-warning:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-warning .tile-heading {
  color: #ffecb3;
}
.info-tile.info-tile-alt.tile-warning .tile-icon i {
  color: #ffd54f;
}
.info-tile.info-tile-alt.tile-warning .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-warning .tile-footer span {
  color: #ffe082 !important;
}
.info-tile.info-tile-alt.tile-success {
  background: #8bc34a;
  border-color: #8bc34a;
}
.info-tile.info-tile-alt.tile-success:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-success .tile-heading {
  color: #dcedc8;
}
.info-tile.info-tile-alt.tile-success .tile-icon i {
  color: #aed581;
}
.info-tile.info-tile-alt.tile-success .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-success .tile-footer span {
  color: #c5e1a5 !important;
}
.info-tile.info-tile-alt.tile-teal {
  background: #009688;
  border-color: #009688;
}
.info-tile.info-tile-alt.tile-teal:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-teal .tile-heading {
  color: #b2dfdb;
}
.info-tile.info-tile-alt.tile-teal .tile-icon i {
  color: #4db6ac;
}
.info-tile.info-tile-alt.tile-teal .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-teal .tile-footer span {
  color: #80cbc4 !important;
}
.info-tile.info-tile-alt.tile-lime {
  background: #cddc39;
  border-color: #cddc39;
}
.info-tile.info-tile-alt.tile-lime:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-lime .tile-heading {
  color: #f0f4c3;
}
.info-tile.info-tile-alt.tile-lime .tile-icon i {
  color: #dce775;
}
.info-tile.info-tile-alt.tile-lime .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-lime .tile-footer span {
  color: #e6ee9c !important;
}
.info-tile.info-tile-alt.tile-danger {
  background: #e51c23;
  border-color: #e51c23;
}
.info-tile.info-tile-alt.tile-danger:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-danger .tile-heading {
  color: #f9bdbb;
}
.info-tile.info-tile-alt.tile-danger .tile-icon i {
  color: #f36c60;
}
.info-tile.info-tile-alt.tile-danger .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-danger .tile-footer span {
  color: #f69988 !important;
}
.info-tile.info-tile-alt.tile-info {
  background: #00bcd4;
  border-color: #00bcd4;
}
.info-tile.info-tile-alt.tile-info:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-info .tile-heading {
  color: #b2ebf2;
}
.info-tile.info-tile-alt.tile-info .tile-icon i {
  color: #4dd0e1;
}
.info-tile.info-tile-alt.tile-info .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-info .tile-footer span {
  color: #80deea !important;
}
.info-tile.info-tile-alt.tile-green {
  background: #4caf50;
  border-color: #4caf50;
}
.info-tile.info-tile-alt.tile-green:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-green .tile-heading {
  color: #c8e6c9;
}
.info-tile.info-tile-alt.tile-green .tile-icon i {
  color: #81c784;
}
.info-tile.info-tile-alt.tile-green .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-green .tile-footer span {
  color: #a5d6a7 !important;
}
.info-tile.info-tile-alt.tile-primary {
  background: #03a9f4;
  border-color: #03a9f4;
}
.info-tile.info-tile-alt.tile-primary:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-primary .tile-heading {
  color: #b3e5fc;
}
.info-tile.info-tile-alt.tile-primary .tile-icon i {
  color: #4fc3f7;
}
.info-tile.info-tile-alt.tile-primary .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-primary .tile-footer span {
  color: #81d4fa !important;
}
.info-tile.info-tile-alt.tile-inverse {
  background: #9e9e9e;
  border-color: #9e9e9e;
}
.info-tile.info-tile-alt.tile-inverse:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-inverse .tile-heading {
  color: #f5f5f5;
}
.info-tile.info-tile-alt.tile-inverse .tile-icon i {
  color: #e0e0e0;
}
.info-tile.info-tile-alt.tile-inverse .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-inverse .tile-footer span {
  color: #eeeeee !important;
}
.info-tile.info-tile-alt.tile-orange {
  background: #ff9800;
  border-color: #ff9800;
}
.info-tile.info-tile-alt.tile-orange:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-orange .tile-heading {
  color: #ffe0b2;
}
.info-tile.info-tile-alt.tile-orange .tile-icon i {
  color: #ffb74d;
}
.info-tile.info-tile-alt.tile-orange .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-orange .tile-footer span {
  color: #ffcc80 !important;
}
.info-tile.info-tile-alt.tile-blue {
  background: #2196f3;
  border-color: #2196f3;
}
.info-tile.info-tile-alt.tile-blue:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-blue .tile-heading {
  color: #bbdefb;
}
.info-tile.info-tile-alt.tile-blue .tile-icon i {
  color: #64b5f6;
}
.info-tile.info-tile-alt.tile-blue .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-blue .tile-footer span {
  color: #90caf9 !important;
}
.info-tile.info-tile-alt.tile-green {
  background: #4caf50;
  border-color: #4caf50;
}
.info-tile.info-tile-alt.tile-green:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-green .tile-heading {
  color: #c8e6c9;
}
.info-tile.info-tile-alt.tile-green .tile-icon i {
  color: #81c784;
}
.info-tile.info-tile-alt.tile-green .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-green .tile-footer span {
  color: #a5d6a7 !important;
}
.info-tile.info-tile-alt.tile-purple {
  background: #9c27b0;
  border-color: #9c27b0;
}
.info-tile.info-tile-alt.tile-purple:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-purple .tile-heading {
  color: #e1bee7;
}
.info-tile.info-tile-alt.tile-purple .tile-icon i {
  color: #ba68c8;
}
.info-tile.info-tile-alt.tile-purple .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-purple .tile-footer span {
  color: #ce93d8 !important;
}
.info-tile.info-tile-alt.tile-indigo {
  background: #3f51b5;
  border-color: #3f51b5;
}
.info-tile.info-tile-alt.tile-indigo:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-indigo .tile-heading {
  color: #c5cae9;
}
.info-tile.info-tile-alt.tile-indigo .tile-icon i {
  color: #7986cb;
}
.info-tile.info-tile-alt.tile-indigo .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-indigo .tile-footer span {
  color: #9fa8da !important;
}
.info-tile.info-tile-alt.tile-brown {
  background: #795548;
  border-color: #795548;
}
.info-tile.info-tile-alt.tile-brown:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-brown .tile-heading {
  color: #d7ccc8;
}
.info-tile.info-tile-alt.tile-brown .tile-icon i {
  color: #a1887f;
}
.info-tile.info-tile-alt.tile-brown .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-brown .tile-footer span {
  color: #bcaaa4 !important;
}
.info-tile.info-tile-alt.tile-blue-gray {
  background: #607d8b;
  border-color: #607d8b;
}
.info-tile.info-tile-alt.tile-blue-gray:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-blue-gray .tile-heading {
  color: #cfd8dc;
}
.info-tile.info-tile-alt.tile-blue-gray .tile-icon i {
  color: #90a4ae;
}
.info-tile.info-tile-alt.tile-blue-gray .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-blue-gray .tile-footer span {
  color: #b0bec5 !important;
}
.info-tile.info-tile-alt.tile-gray {
  background: #9e9e9e;
  border-color: #9e9e9e;
}
.info-tile.info-tile-alt.tile-gray:before {
  background-color: transparent;
}
.info-tile.info-tile-alt.tile-gray .tile-heading {
  color: #eeeeee;
}
.info-tile.info-tile-alt.tile-gray .tile-icon i {
  color: #bdbdbd;
}
.info-tile.info-tile-alt.tile-gray .tile-body {
  color: #ffffff !important;
}
.info-tile.info-tile-alt.tile-gray .tile-footer span {
  color: #e0e0e0 !important;
}	
	
/* Error Page */	
	.supersized-error-icon{
		font-size: 16em;
		color: #FF2C2D;
	}
	
/* Menu builder */
	#MenuBuilderContainer div#InactiveMenu{
		/*opacity: 0.5;*/
	}
	
	.dragging, .dragging * {
		cursor: move !important;
	}
	
	.dragged {
		position: absolute;
		opacity: 0.5;
		z-index: 2000;
	}
	
	#MenuBuilderContainer ul.MenuBuilder,
	#MenuBuilderContainer ul.MenuBuilder ul{
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	#MenuBuilderContainer ul.MenuBuilder li{
		padding: 1em;
		background: #F7F7F7;
		border: none;
		margin-bottom: 1em;
		min-height: 3.15em;
		font-size: 14px;
		-webkit-box-shadow: 0 .5em .375em -.375em rgba(0,0,0,.2);
		-moz-box-shadow: 0 .5em .375em -.375em rgba(0,0,0,.2);
		box-shadow: 0 .5em .375em -.375em rgba(0,0,0,.2);	
	}
	
	#MenuBuilderContainer ul.MenuBuilder li>.drag-handle,
	#MenuBuilderContainer ul.MenuBuilder li>.drag-handle:hover{
		cursor: move!important;
		margin-right: .5em;
		padding: .5em;
	}
	
	#MenuBuilderContainer ul.MenuBuilder li.placeholder {
		position: relative;
		padding: 1em;
		background: #A9A9A9;
		border: 1px solid #555555;
		margin-bottom: 1em;
		height: 3.15em;
	}
	
	#MenuBuilderContainer ul.MenuBuilder li ul{
		padding: 1em;
		background: #FFFFFF;
		margin: 1em 0 0 1em;
	}
	
	#MenuBuilderContainer ul.MenuBuilder li ul:empty{
		display: none;
	}
	
	#MenuBuilderContainer ul.MenuBuilder li:last-child,
	#MenuBuilderContainer ul.MenuBuilder li ul li:last-child{
		margin-bottom: 0;
	}
	
	#MenuBuilderContainer ul.MenuBuilder li .report-caption{
		
	}	
	
	#MenuBuilderContainer ul.MenuBuilder .UpdateCaption{
		margin-left: .5em;
		cursor: pointer;
	}		

	#MenuBuilderContainer ul.MenuBuilder .ItemTools{
		margin: .25em 0;
	}	
	
	#MenuBuilderContainer ul.MenuBuilder .item-editor{
		margin: 1em 0 0 0;
		padding: 1em;
		background: #EAEAEA;
	}
	
	#MenuBuilderContainer ul.MenuBuilder .item-editor>.edit-group{
		margin: 0 0 1em;
	}
	
	
	#MenuBuilderContainer ul.MenuBuilder .item-editor>.edit-group:last-child{
		margin: 0;
	}
	
	.fontawesome-select{
		font-family: 'FontAwesome', 'Helvetica';
	}	

/* Template Config Form Styling */
	div#Template_SidebarCollapse,
	div#Template_SidebarStateAtStart,
	div#Template_SidebarApplicationTitle,
	div#Template_SidebarApplicationCaption,
	div#Template_SidebarBranding,
	div#Template_HeaderBranding,
	div#Template_HeaderApplicationTitle,
	div#Template_HeaderApplicationCaption,
	div#Template_HeaderLogout{
		margin-left: 1em;
	}
	
	#TemplateConfiguration #TemplateConfiguration>div{
		padding:.625em 0;
		border-bottom: 1px solid #F1F1F1;
		margin-bottom: .625em;
	}

	#TemplateConfiguration #TemplateConfiguration>div:last-child{
		border-bottom: none;
	}
	
	#TemplateConfiguration #TemplateConfiguration>div h5{
		min-height: auto;
	}
	
/* Google Maps */
	#pcsl, #pcsl table{
		width: 100%;
	}
	
/* Pagination */
	.pagination {
		margin: 0;
	}
	.pagination span[id*='-NumberedPageNr'], 
	.pagination span[id*='-rdNumberedCurrPageNr'],
	.pagination span[id*='-FirstPageCaption'], 
	.pagination span[id*='-PreviousPageCaption'],
	.pagination span[id*='-LastPageCaption'], 
	.pagination span[id*='-NextPageCaption'] {
		position: relative;
		float: left;
		padding: .375em .75em;
		margin-left: -1px;
		line-height: 1.42857143;
		color: #337ab7;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 0;
	}
	.pagination span[id*='-NumberedPageNr']:hover,
	.pagination span[id*='-FirstPageCaption']:hover, 
	.pagination span[id*='-PreviousPageCaption']:hover,
	.pagination span[id*='-LastPageCaption']:hover, 
	.pagination span[id*='-NextPageCaption']:hover {
		z-index: 3;
		color: #23527c;
		background-color: #eeeeee;
		border-color: #dddddd;
		font-size: 100%;
	}
	.pagination span[id*='-rdNumberedCurrPageNr'] {
		z-index: 2;
		color: #ffffff;
		background-color: #337ab7;
		border-color: #337ab7;
		cursor: default;
		font-size: 100%;
	}
	.pagination span[id*='-FirstPageCaption'] {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.pagination span[id*='-LastPageCaption'] {
		border-radius: 0 0 4px 4px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}	
/*End Pagination*/	
	

/* BOOTSTRAP OVERRIDES
******************************************************************************************/
	#navigation {
		background: #1D2733;
		border: none;
		border-radius: 0;
		margin: 0;
		min-height: 3.125em;
		margin-left: -15px;
		margin-right: -15px;
	}
	#navigation * {
		white-space: nowrap;
	}
	
	.navbar-inverse .navbar-toggle {
		border-color: #fff;
		color: #fff;
	}
	.navbar-inverse .navbar-toggle:focus,
	.navbar-inverse .navbar-toggle:hover{
		background-color: #f1f1f1;
		color: #000;
		
	}	

	.navbar-inverse .navbar-toggle:focus .icon-bar,
	.navbar-inverse .navbar-toggle:hover .icon-bar{
		background-color: #333;
	}	
		
	.container-fluid #navigation{
		margin-left: -1em;
		margin-right: -1em;		
	}
	
	.navbar-absolute-top{
		z-index: 987;
	}
	
	.navbar-toggle {
		position: relative;
		float: right;
		padding: .125em .625em;
		margin-top: -3.25em;
		margin-right: 1em;
		margin-bottom: 0;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}	
	
	.sidebar-toggle{
		cursor: pointer;
		display: block;
		border: none;
		float: left;
		position: relative;
		margin: 0;
		padding: .625em 1.1em;
		text-align: center;
		font-size: 19px;
		border-radius: 0;
		border-right-width: 1px;
		border-right-style: solid;
		border-color: rgba(255, 255, 255, 0.2) !important;
	}
	.range_inputs {
		position: absolute;
		margin-top: -30px;
		right: 10px;
	}
	.ranges>ul {
		height: 320px;
		overflow-y: auto;
	}
	.ranges>ul::-webkit-scrollbar {
		width: 1em;
	}
	.ranges>ul::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	 
	.ranges>ul::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
	
	@media (max-width: 767px){
		/*.sidebar-toggle{
			display: block;
			border: none;
			float: left;
			margin: .5em 0 .5em .5em;
			position: relative;
			padding: .625em .313em;
		}	*/
		#navigation {
			margin-left: 0;
			margin-right: 0;
		}
		#navbar-collapse {
			padding-right: 0;
		}
		.navbar-inverse .navbar-nav>li>a {
			text-align: left !important;
		}
		.navbar-inverse .navbar-nav>.open{
			background-color: rgba(250,250,250,.1);
		}
		#HeaderAdminMenu > .navbar-nav{
			margin-bottom: 0;
			margin-left: -15px;
		}
		.range_inputs {
			position: inherit;
			margin-top: 0;
			right: auto;
		}
		.daterangepicker .ranges ul {
			width: 100%;
		}
		.daterangepicker.ltr .ranges {
			float: none;
		}
	}
	.navbar-inverse .navbar-nav>li>a {
		color: #FFF;
		white-space: nowrap;
		border-left-width: 1px;
		border-left-style: solid;
		border-color: rgba(255, 255, 255, 0.2) !important;
		text-align: center;
		vertical-align: center;
	}
	
	.navbar-inverse .navbar-nav>li>a>.ti, .navbar-inverse .navbar-nav>li>a>.fa {
		font-size: 19px;
		text-align: center;
	}
	
	.navbar li.active{
		background: #2986B8;
	}
	
	.navbar li.active>a{
		background: none !important;
	}
	
	.navbar-brand{
		padding: .3em 10px;
		margin-left: 0 !important;
		text-align:center;
		border-right-width: 1px;
		border-right-style: solid;
		border-color: rgba(255, 255, 255, 0.2) !important;
		background:#fff;
		height: 51px;
	}
	
	.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {background:#fff !important;}
	
	.navbar-brand-txt{
		padding: 1em;
		color: #FFF!important;
		border-right-width: 0; 
		font-size: 18px;
        line-height: 15px;     
		margin-left: 100px;
	}	
	
	.navbar-brand>img{
		max-width: 100%;
		max-height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.navbar-inverse .navbar-nav>li>a:hover,
	.dropdown.open>a.report-caption  {	
		color: #f1f1f1;
	}
	
	.navbar-inverse  ul.navbar-right {
		border-color: rgba(255, 255, 255, 0.2) !important;
		margin-right: 0; 
	}

	#Header .navbar-brand span#caption{
		font-size: smaller;
		margin: .375em;
		color: rgba(255,255,255,.5);
	}
	
	#Sidebar span#title{
		display: block;
		font-size: xx-large;
	}
	
	#Sidebar span#caption{
		color: rgba(255,255,255,.7);
	}	
	
	.caption.label{
		color: #333;
		font-size: 1em;
		line-height: 1.375;	
		display: inline-block;
		margin-bottom: .313em;
		padding-left: 0;
		font-weight: 700;
	}
	
	.carousel-inner>.item {
		width: 100%;
	}	
	/*.form-control  {
		margin-top: 8px;
		float: right;
	}*/
	.rd-checkboxlist-icon  {
		background-image: none;
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 2px;
		margin-top: 8px;
		float: right;
		vertical-align: middle;
		border-top: 4px dashed;
		border-top: 4px solid \9;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}
	.pull-right>.dropdown-menu {
		right: 1em;
	}
	pre {
		white-space: normal;
	}
	
/* Checkbox Groups */
	.checkbox-group{
		boder: none !important;
	}
	
	.checkbox-group li{
		display: inline;
	}
	
	.checkbox-group input{
		display: none;
	}
	
	fieldset{
		margin-bottom: 2em;
		padding: 0 1em;
	}
	.affixAnchor {
		display: block; 
		content: " "; 
		margin-top: -75px; 
		height: 75px; 
		visibility: hidden; 
	}
	legend{
		margin-bottom: .625em;
	}
	
/* Mobile behaviours */
	@media (max-width: 76.5em){
		.center-mobile{
			text-align: center !important;
		}		
	}

/* Theme Overrides */
	/* multi select checkbox popup */
	.rd-checkboxlist table{
		background: #FFF;
	}
	
	/* Data Table / Crosstab Table */
	.rdAgDataTable, .rdOgOlapTable, .rdDgOlapTable {
	  border: none;
	  background-color: #fff;
	}
	tr.ThemeAlternatingRow>td {
		background-color: #f9f9f9;
	}
	tr.ThemeAlternatingRow:hover>td {
		background-color: #f5f5f5;
	}
	.rdThemeDataTableMainHeader a{
	}
	.rdThemeDataTableMainHeader{
		color: #fff;
		background-color: #454d59;
		font-size: 1.5em;
		padding-left: .75em;
		text-align: left;
		margin-bottom: 1px;
		border-right: 2px solid #fff;
	}
	.rdThemeDataTableHeader {
	}
	.rdThemeDataTableHeader td {
	}
	.rdThemeDataTableHeader a {
	}
	.rdThemeDataTableHeaderAlternate {
	  background-color: #454d59;
	  border: none;
	}
	.rdThemeDataTableHeaderRow th {
		background-color: #454d59;
		color:#fff;
		font-family: 'Lato', sans-serif;
		font-weight:normal;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		/*  border: 1px solid #fff;*/
	}
	.rdThemeDataTableSummaryRow td {
		background-color: #f3f3f3; /* 72C8C1 */
		color: #00aaf0;
    font-weight: 700;
	}
	.rdThemeDataTableGroupHeaderRow0 td, table.rdAgDataTable tr.rdAgGroup0HeaderRow td,
	.rdThemeDataTableGroupHeaderRow1 td, table.rdAgDataTable tr.rdAgGroup1HeaderRow td,
	.rdThemeDataTableGroupHeaderRow2 td, table.rdAgDataTable tr.rdAgGroup2HeaderRow td,
	.rdThemeDataTableGroupHeaderRow3 td, table.rdAgDataTable tr.rdAgGroup3HeaderRow td,
	.rdThemeDataTableGroupHeaderRow4 td, table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
		color: #363b42;
		padding: 3px;
		font-weight: bold;
	}
	.rdThemeDataTableGroupHeaderRow0 td, table.rdAgDataTable tr.rdAgGroup0HeaderRow td {
		background-color: #52C3FF;
	}
	.rdThemeDataTableGroupHeaderRow1 td, table.rdAgDataTable tr.rdAgGroup1HeaderRow td {
		background-color: #64C8FF;
	}
	.rdThemeDataTableGroupHeaderRow2 td, table.rdAgDataTable tr.rdAgGroup2HeaderRow td {
		background-color: #7DD0FF;
	}
	.rdThemeDataTableGroupHeaderRow3 td, table.rdAgDataTable tr.rdAgGroup3HeaderRow td {
		background-color: #93D9FF;
	}
	.rdThemeDataTableGroupHeaderRow4 td, table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
		background-color: #A5E0FF;
	}
	.rdThemeDataTableGroupSummaryRow td {
		padding: 3px;
	}
	
	.rdThemeDataTableCell {
		background-color: Transparent;
	}
	.rdThemeDataTable, .rdAgDataTable, .rdOgOlapTable, .rdDgOlapTable {
		background-color: Transparent;
	}
	
	td.rdAgPanelHeading span.rdAgContentHeading{
		white-space: nowrap;
	}

	td.rdPopupPanelTitle{
		padding: .313em;
	}
	
	tr.rdPopupContent>td{
		padding: 1em;
	}
		
	.rdAgBackground, .bg-white {
		background-color: #FFF;
	}	
	
	#rdMainBody .go-analysis .rdAgWrapper > tbody > tr > td {
		padding: 0;
	}	
	
	.rdAgContentHeadingRow{
		max-width: 97%;
	}
	
	div#PopupPanelContent td input[type='text'],
	div#PopupPanelContent td input[type='email'],
	div#PopupPanelContent td input[type='password'],
	div#PopupPanelContent td textarea,
	div#PopupPanelContent td select {
		margin: 4px;
		/*width: 100%;*/
	}
	
	.rdPopupContent .ThemeLinkButton>span, 
	.rdPopupContent .ThemeLinkButtonSmall>span {
		padding: .625em;
		color: #FFF;
	}
	
	#rowsChartLists>tbody>tr>td{
		padding: 0 0 .5em;
	}
	
	#rowsChartLists.form-inline .rdAcHidden{
		display: none!important;
	}

	#rowsChartLists #colChartYColumnCell2>span>label{
		margin: 0 .5em;
	}
	
	.clearfix {
		display: block;
	}

/* BOOTSTRAP OVERRIDES
******************************************************************************************/		
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}