BODY{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;	
    font-weight: normal;
    font-style: normal;
	color: #222;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    position: relative;
    cursor: auto;			
}	

.logonWell {
	background: #f5f5f5 !important;
	position:absolute;
	top:50%;
	left:50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 400px;
	max-width: 100%;
}

#lblLogon {
	font-size: 20px;
	color: #014988;
	margin: 0 auto;
}
.alert {
    margin-bottom: 0; 
}